.sliderwrap {
    /*top: 0;*/
    height: 600px;
    /*background-color: #eee;*/
    background-image: url("../images/showcase.jpg");
     background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider {
    height: 600px;
    width: 1000px;
    margin: auto;
}

.mySlides {
    display: none;   
}

.indexintro {
    
    font-family: 'Raleway-Light';
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#cont td {
    vertical-align: top;
    text-align: justify;
}

.welcomeTagDiv{
    background-color: #8080ff;
}
#welcomeTag{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Raleway-Light';
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    padding: 2px 0;
}





