/*@font-face{
    font-family: 'Aller-lt';
    src: url('fonts/Aller_Lt.ttf');
}*/
.mainCon{
	/*min-height:420px;*/
    /* The image used */
    

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.LoginBox,.LoginBox2
{
	
	/*position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 10%);
	width: 400px;*/
	/*position: absolute;*/
	margin-left: 35%;
	width: 30%;
	padding-bottom: 22px;

	/*box-sizing: border-box;*/
	font-family: 'Raleway-Light';
	font-weight: bold;
	color: white;
	letter-spacing: 1px;
	background: rgba(0,0,0,0.6);
	text-align: center;
	border: 0.5px solid black;
	

}

/*.LoginBox2
{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 10%);
	width: 350px;
	height: 350px;
	box-sizing: border-box;
	border-radius: 5%;
	background: rgba(0,0,0,.5);
	text-align: center;
	border: 0.5px solid black;

}*/

.user
{
	padding: 0;
	margin: 0;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	top:-50px;
	/*top: calc(-100px/2);
	left: calc(50% - 50px);*/
	
}

h2
{
	margin: 0;
	padding: 0 0 10px;
	color: white;
	text-align: center;
	font-family: 'Raleway-Light';
	letter-spacing: 2px;

}

.LoginBox p
{
	margin: 0;
	padding: 0;
	font-weight: bolder;
	padding-left: 10px;
}




.LoginBox input[type="text"],.LoginBox input[type="password"]
{
	font-family: 'Raleway-Light';
	width: 50%;
	margin-bottom: 15px;
	border: 2px solid #a0b3b0;
	font-weight: bold;
	padding: 2px;
}


.LoginBox a,.LoginBox2 a{
	font-family: 'Raleway-Light';
	color: #8080ff;
	letter-spacing: 1px;	
}
.LoginBox a:hover,.LoginBox2 a:hover{
	
	color: white
		
}

#sign_message,#login_message{
	font-family: 'Raleway-Light';
	font-weight: bold;
	font-weight: 1.5em;
	letter-spacing: 2px;
	color: black;
	text-align: center;
}

#btnSubmitSu{
	font-family: 'Raleway-Light';
	font-weight: bold;
	background-color: #8080ff;
	color: white;
	border: 1px solid black;
	letter-spacing: 1px;
	padding: 4px 10px;
}
#btnSubmitSu:hover{
	background-color: white;
	color: black;
}

.LoginBox2 input[type="text"],.LoginBox2 input[type="password"]{
	font-family: 'Raleway-Light';
	width: 50%;
	margin-bottom: 15px;
	border: 2px solid #a0b3b0;
	font-weight: bold;
	padding: 2px;
}



#btnSubmitSI{
	font-family: 'Raleway-Light';
	font-weight: bold;
	background-color: #8080ff;
	color: white;
	border: 1px solid black;
	letter-spacing: 1px;
	padding: 4px 10px;
}
#btnSubmitSI:hover{
	background-color: white;
	color: black;
}


.email{
	width: 70%;
}

.LoginBox label
{
	color: turquoise;
}

span{
	font-family: 'Raleway-Light';
	font-weight: bold;
	color: rgb(255, 165, 165);
	font-size: 12px;
}
